/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* NAVBAR */

/* Logo */
.navbar-logo {
  font-family: Inter, sans-serif;
  font-size: 34px;
  color: #4e47ff;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  max-width: 100%;
  color: #4e47ff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* Menu list navbar */
.navbar-menu {
  display: flex;
}

/* Menu list item */
.navbar-item {
  list-style: none;
}

/* nav links */
.navbar-item a {
  text-decoration: none;
}

/*BUTTONS*/

/* Primary button */
.btn-primary {
  background-color: #4e47ff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #3e3abf;
}

/* Secondary button */
.btn-secondary {
  background-color: #4e47ff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #3e3abf;
}

/* Third button */
.btn-third {
  background-color: #4e47ff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 19px 28px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-third:hover {
  background-color: #3e3abf;
}

/*HEADER*/

/* header section */
.site-header {
  background-image: url("Assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hero banner container */
.hero-banner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  width: 100%;
}

/* Hero text and button alignment */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

/* Hero title styling */
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

/* MAIN */

/* main section */
.site-main {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 116px 0;
  gap: 116px;
  width: 100%;
  background-color: #f5f8ff;
}

/* Section heading */
.main-title {
  font-size: 42px;
  font-weight: bold;
  color: #000;
  margin: 23px 0;
}

/* Section subheading */
.main-caption {
  font-size: 24px;
  color: #737380;
  margin: 23px 0;
}


/*SECTION: PREVIEW*/

.section-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 220px;
}

/* Preview section text block */
.preview-content {
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 23px;
}

/* Preview image */
.preview-image {
  width: 403px;
  max-width: auto;
  height: 328px;
  border-radius: 48px;
}

/* SECTION: STATISTICS */

.section-stats {
  display: flex;
  background-color: #e5e7ff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 24px;
  max-width: 1140px;
  padding: 40px 150px 50px;
  gap: 30px;
}

/* Header stats section */
.stats-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000;
  line-height: 0;
}

/* Number blocks stats */
.stats-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 158px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 0;
}

/* individual stat block */
.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

/* Stat number */
.stat {
  font-family: Inter, sans-serif;
  font-size: 80px;
  color: #4e47ff;
  margin: 0;
}

/* Stat label */
.caption {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #737380;
  margin: 0;
}

/* SECTION: REVIEWS */

.review {
  background-color: #f8f9ff;
  text-align: center;
  max-width: 1140px;
}

/* Header reviews section */
.review-header {
  margin-bottom: 40px;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #1e1e1e;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Container review cards */
.review-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: left;
}

/* Individual review card */
.review-card {
  background-color: #fff;
  border-radius: 14px;
  padding: 24px;
  width: 310px;
  border: 1.5px solid #f2eded;
  font-family: "Raleway", sans-serif
}

/* Star ratings */
.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

/* Review headline */
.review-caption {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  font-family: Inter, sans-serif;
  margin: 0 0 10px;
}

/* Review body */
.full-review {
  font-size: 16px;
  color: #737380;
  font-family: Inter, sans-serif;
  margin-bottom: 20px;
}

/* Reviewer info */
.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Reviewer name */
.reviewer-name {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  font-family: Inter, sans-serif;
  margin: 0;
}

/* Review date */
.review-date {
  font-size: 14px;
  color: #737380;
  margin: 0;
  font-family: Inter, sans-serif;
}

/* SECTION: CALL TO ACTION */

.action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 61px 150px 71px;
  border-radius: 14px;
}

.action-title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1;
}

.action-caption {
  font-size: 16px;
  color: #737380;
  margin: 0;
  font-family: Inter, sans-serif;
  text-align: center;
}

.action-image {
  width: 100%;
  max-width: 1140px;
  height: auto;
  border-radius: 48px;
}


/*SECTION: CONTACT FORM*/

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;
  gap: 80px;  
}

/* Shared column layout */
.contact-column {
  flex: 1;
}

/* Left column with text */
.contact-column--intro {
  justify-content: flex-start;
  font-size: 50px;
  padding: 100px 0;
}

/* Right column-form */
.contact-column--form {
  width: 100%;
}

/* Label form fields */
.label {
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: medium;
}

/* Form input and textarea styles */
.contact-input,
.contact-textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #d6dded;
  border-radius: 0.5rem;
  font-size: 20px;
  font-family: inherit;
  color: #808080;
  background-color: #fff;  
  margin-bottom: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

/* Placeholder text style */
.contact-input::placeholder,
.contact-textarea::placeholder {
  color: #999;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-color: #f5f8ff;
}

/* Footer content */
.footer-content {
  width: 100%;
  padding: 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer logo */
.footer-logo {
  font-size: 100px;
  color: #4e47ff;
  font-family: Inter, sans-serif;
  font-weight: bolder;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Footer description text */
.footer-text {
  font-size: 16px;
  color: #8987A1;
  font-family: Inter, sans-serif;
  margin: 0;
  text-align: center;
}

/* Footer navigation links */
.footer-links {
  display: flex;
  gap: 48px;
  margin-top: 10px;
  list-style: none;
}

/* Footer link styling */
.footer-links a {
  text-decoration: none;
  color: #8987A1;
  font-family: Inter, sans-serif;
  font-size: 16px;
}
